.open-sans-normal {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* shared style */
.text-primary {
    color: rgba(253, 110, 10, 1);
}

.secondary-bg {
    background-color: rgba(255, 248, 243, 1);
}

.dark-1 {
    color: rgba(24, 24, 24, 1);
}

.dark-2 {
    color: rgba(71, 71, 71, 1);
}

.dark-3 {
    color: rgba(117, 117, 117, 1);
}

.btn-primary {
    border: none;
    border-radius: 5px;
    background-color: rgba(253, 110, 10, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
}

.section-title {
    color: rgba(24, 24, 24, 1);
    font-style: Bold;
    font-size: 35px;
    font-weight: 700;
    /* letter-spacing: 0%; */
    text-align: center;
}

.section-description {
    color: rgba(117, 117, 117, 1);
    /* font-style: Regular; */
    font-size: 18px;
    font-weight: 400;
    /* letter-spacing: 0%; */
    text-align: center;
}

/* header style */
.header {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}


/* nav style */
nav {
    display: flex;
    margin: 50px 230px;
    align-items: center;
    justify-content: space-between;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;

}




/* banner style */

.banner {
    display: flex;
    margin: 0px 38px 0px 230px;
    align-items: center;
    justify-content: space-between
}

.banner-content {
    max-width: 585px;
}

.banner-greetings {
    font-size: 45px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 5px;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 20px;
}

.banner-description {
    font-size: 18px;
    text-align: left;
    margin-bottom: 30px;
}

.contact-btn {
    box-sizing: border-box;
    border: 1px solid rgba(253, 110, 10, 1);
    border-radius: 5px;
    /* background: rgba(255, 248, 243, 1); */
    color: rgba(253, 110, 10, 1);
    font-size: 20px;
    font-weight: 700;
    margin-left: 30px;
    padding: 18px 35px;
}

/* .banner-profile-pic{
    width: 684px;
    height: 676px;
} */





/* main styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}


/* about styles */
.about {
    border-radius: 10px;
    padding: 131px 156px;
    text-align: center;
}

.about-items {
    display: flex;
    justify-content: space-between;
}

.item-title {
    color: rgba(117, 117, 117, 1);
    font-size: 20px;
    /* text-align: center; */
}

.item-description {
    color: rgba(117, 117, 117, 1);
    font-weight: 700;
    font-size: 20px;
    /* text-align: center; */
}


/* skills styles */
.skills-container {
    display: flex;
    gap: 24px;
    justify-content: space-around;
}

.skills>.section-description {
    padding: 30px 115px 50px 115px;
}

.skill {
    padding: 30px;
    /* border: 1px solid blueviolet; */
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
}




/* resume styles */
.resume-container {
    display: flex;
    gap: 70px;
}

.resume-column-title {
    color: rgba(71, 71, 71, 1);
    font-size: 30px;
    font-weight: 700;
    text-align: left;
}

.cell-title {
    color: rgba(71, 71, 71, 1);
    font-size: 25px;
    font-weight: 700;
    text-align: left;
}

.cell-subtitle {
    color: rgba(117, 117, 117, 1);
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}

.cell-description {
    color: rgba(117, 117, 117, 1);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.downlaod-cv-button{
    margin-top: 50px;
    text-align: center;
}